tqdm
tabulate
pattern3
pygit2
streamtologger
aubio==0.4.6
cffi==1.11.5
funcsigs==1.0.2
h5py==2.8.0
kenlm==0.0.0
Keras==2.2.2
mock==2.0.0
numpy==1.15.2
pandas==0.23.4
pbr==4.2.0
protobuf==3.6.1
PyAudio==0.2.11
pycparser==2.18
Pympler==0.6
python-dateutil==2.7.3
python-speech-features==0.6
pytz==2018.5
PyYAML==3.13
scikit-learn
scipy==0.19.2
six==1.11.0
sklearn==0.0
SoundFile==0.10.2
tensorflow==1.10.1
Theano==1.0.2
Werkzeug==0.14.1
